<!DOCTYPE html>
<html>
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <!--<title>Google Maps test</title>-->
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     </head>
        

        <style type="text/css">
            html {height: 100%}
            body {height: 100%; margin: 0; padding: 0}
            #mapDiv {height: 100%}
            #coordsDiv {
                position: absolute;
                background-color: white;
                border: 1px solid black;
                bottom: 50px;
                right: 50px;
                height: 50px;
                width: 380px;
                padding-top: 5px;
                padding-left: 5px;
            }
            
            #contentWaypoint {
                width: 150px;
                
            }
            #Description, #MeetTime {
                font-weight: lighter;
                color: red;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 12px;
            }
            #Description {
                outline: none;
            }
            b {
                font-weight: bold;
                color: black;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 14px;
            }

            .button {
                margin-top: 10px;
                position: relative;
                background-color: red;
                border: none;
                font-size: 14px;
                color: #FFFFFF;
                padding: 20px;
                text-align: center;
                -webkit-transition-duration: 0.4s; /* Safari */
                transition-duration: 0.4s;
                text-decoration: none;
                overflow: hidden;
                cursor: pointer;
            }

            .button:after {
                content: "";
                background: #f1f1f1;
                display: block;
                position: absolute;
                padding-top: 300%;
                padding-left: 350%;
                margin-left: -20px !important;
                margin-top: -120%;
                opacity: 0;
                transition: all 0.8s
            }

            .button:active:after {
                padding: 0;
                margin: 0;
                opacity: 1;
                transition: 0s
            }

            

        </style>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4la7nvqknfe1WbQpxob1-Z_aaY0OjUas">
        </script>
       
        <script type="text/javascript">
            // global varibles
            var map;
            //var geocoder = new google.maps.Geocoder();
            var myVar = setInterval(myTimer, 0);
            var wayPointTimer;
            var currentMarker = new google.maps.Marker();
            var currentWayPoint = new google.maps.Marker();
            var addWayPointPresses = false;
            var currentWayPointDescription = '_____';
            var currentTime = '_____';
            var wayPointClickedBool = false;
            var currentWayPointLat, currentWayPointLong;


            function addWayPoint(lat, long, displayName, currentTimeSat, currentWayPointDescriptionWayPoint, howOld) {

            
                currentWayPoint.setMap(null);
                var myicon = getIcon(howOld);

                currentWayPoint = new google.maps.Marker({
                    position: new google.maps.LatLng(lat, long),
                    map: map,
                    icon: myicon,
                    title: displayName + ' Sat this Waypoint',
                    animation: google.maps.Animation.DROP
                    
                });
            
                var contentOfMarker = '<div id="contentWaypoint" > <p>' +
                    '<b>Meeting time: </b> ' +
                    '<p contentEditable = "true" id="MeetTime">' + currentTimeSat + '</p>' +
                    '<br><b>Description: </b> ' +
                    '<textarea rows="4" cols="24" id="Description" style="overflow:auto">\r\n' + currentWayPointDescriptionWayPoint +'\r\n</textarea>'+
                   // '<p contentEditable = "true" id="Description" >' + currentWayPointDescriptionWayPoint + '</p> ' +
                    '<div> <button class="button" onclick="updateLocation()">Update WayPoint</button> </div> </div>';

                var infoWindow = new google.maps.InfoWindow({
                    content: contentOfMarker
                });
            
                google.maps.event.addListener(currentWayPoint, 'click',
                    function(){
                        infoWindow.open(map, currentWayPoint);
                    });

                currentTime = currentTimeSat;
                currentWayPointDescription = currentWayPointDescriptionWayPoint;
            }

            function updateLocation() {

                //alert("test");
                var descripTag = document.getElementById("Description");
                var timeTag = document.getElementById("MeetTime");

                currentWayPointDescription = descripTag.innerHTML;
                currentTime = timeTag.innerHTML;

                var button = document.getElementById("wayPointID");
                button.style.fontSize = '16px';
                blinkBool = false;

                clearInterval(wayPointTimer);

                // If no new marker is set after loading map, but you want to update the current marker
                currentWayPointLat = currentWayPoint.getPosition().lat();
                currentWayPointLong = currentWayPoint.getPosition().lng();

                // Invoke C# and update database
             


                window.external.UpdateCurrentWayPoint(currentTime, currentWayPointDescription,
                    currentWayPointLat, currentWayPointLong);
            
            }
            
            function getIcon(howOld) {
                var icon;
                switch (howOld) {
                    case 'red':
                        icon = 'memberRed.png';
                        break;
                    case 'grey':
                        icon = "memberGrey.png";
                        break;
                    case 'yellow':
                        icon = "memberYellow.png";
                        break;
                    case 'wayPoint':
                        icon = "universityRed.png";
                        break;
                default:
                   break;
                }
                return icon;
            }



            function setCurrentMarker(lat, long, info, timestamp, displayName, howOld) {

                currentMarker.setMap(null);
                var myicon = getIcon(howOld);

                currentMarker = new google.maps.Marker({
                position: new google.maps.LatLng(lat, long),
                map: map,
                icon: myicon,
                title: displayName + ' was here',
                animation: google.maps.Animation.DROP

            });
                
                
                var contentOfMarker = '<div id="content"> <p>' + 'Email: ' + info + '<br>Displayname: ' +
                    displayName + '<br>Last updated: ' + timestamp + '</p> </div>';

                var infoWindow = new google.maps.InfoWindow({
                    content: contentOfMarker
                });
                
                google.maps.event.addListener(currentMarker, 'click',
                    function(){
                        infoWindow.open(map, currentMarker);
                    });
            }

            var markerPlaced = false;

            
            function initialize(){
                var mapOptions = {
                    center : new google.maps.LatLng(56.171896, 10.188197),
                    zoom : 15,
                    mapTypeControl: true,
                    gestureHandling: 'greedy',
                    mapTypeControlOptions : {
                        mapTypeIds : [google.maps.MapTypeId.ROADMAP,
                                      google.maps.MapTypeId.HYBRID],
                        style : google.maps.MapTypeControlStyle.DROPDOWN_MENU
                    },
                    fullscreenControl: true
                };
                
                var initialCenter = mapOptions.center;
                var initialZoom = mapOptions.zoom;
                
                map = new google.maps.Map(document.getElementById("mapDiv"), mapOptions);

                addGoToIntialExtent(map, initialCenter, initialZoom);

          
                var UpdateLocationControlDiv = document.createElement('div');
                var centerControl = new UpdateLocationControl(UpdateLocationControlDiv, map);

                UpdateLocationControlDiv.index = 1;
                map.controls[google.maps.ControlPosition.BOTTOM_LEFT].push(UpdateLocationControlDiv);

                var putWayPointDiv = document.createElement('div');
                var centerControl = new SetWayPoint(putWayPointDiv, map);

                putWayPointDiv.index = 1;
                map.controls[google.maps.ControlPosition.BOTTOM_CENTER].push(putWayPointDiv);

                
                map.addListener('click', function (e) {
                    if (wayPointClickedBool === true) {


                        //addWayPoint(e.latLng.lat(), e.latLng.lng(), 'DisplayShit', 'wayPoint');

                        // c#AddWayPoint, this request an invoke to C# to get get current displayName
                        // and then invoke back

                        window.external.AddWayPoint(e.latLng.lat(), e.latLng.lng(), currentTime, currentWayPointDescription);

                        wayPointClickedBool = false;

                        currentWayPointLat = e.latLng.lat();
                        currentWayPointLong = e.latLng.lng();

                    }
                    
                });

            }

            function addMarkerWithInfo(lat, long, info, timestamp, displayName, howOld) {

                var myicon = getIcon(howOld);

                var centerMarker = new google.maps.Marker({
                    position : new google.maps.LatLng(lat,long),
                    map: map,
                    icon: myicon,
                    title: displayName + ' was here',
                    animation: google.maps.Animation.DROP
                       
                });
                
                
                var contentOfMarker = '<div id="content"> <p>' + 'Email: ' + info + '<br>Displayname: ' +
                    displayName + '<br>Last updated: ' + timestamp + '</p> </div>';

                var infoWindow = new google.maps.InfoWindow({
                    content: contentOfMarker
                });
                
                google.maps.event.addListener(centerMarker, 'click',
                            function(){
                        infoWindow.open(map, centerMarker);
                });
                
                
            }
            
            function addGoToIntialExtent(map, initialCenter, initialZoom){
                
                google.maps.event.addListener(map, 'rightclick',
                    function(){
                    map.setCenter(initialCenter);
                    map.setZoom(initialZoom);                      
                });
            }
            
            function addMarker(Lat,Long){
                
                 var centerMarker = new google.maps.Marker({
                    position : new google.maps.LatLng(Lat, Long),
                     map: map,
                     animation: google.maps.Animation.DROP,
                     title: "My Location"

                });
            }
           
           function addShowCords(map) {
               google.maps.event.addListener(map,
                   'center_changed',
                   function() {
                       var newCenter = map.getCenter();
                       var newZoom = map.getZoom();
                       document.getElementById("coordsDiv").innerHTML =
                           "Center : " + newCenter.toString() + "<br> Zoom : " + newZoom;
                   });
           }
            google.maps.event.addDomListener(window, "load", initialize);


            function UpdateLocationControl(controlDiv, map) {

                // Set CSS for the control border.
                var controlUI = document.createElement('div');
                controlUI.style.backgroundColor = '#fff';
                controlUI.style.border = '2px solid #fff';
                controlUI.style.borderRadius = '3px';
                controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
                controlUI.style.cursor = 'pointer';
                controlUI.style.marginBottom = '22px';
                controlUI.style.marginTop = '20px'
                controlUI.style.textAlign = 'center';
                controlUI.title = 'Add Hardcoded Marker';
                controlDiv.appendChild(controlUI);

                // Set CSS for the control interior.
                var controlText = document.createElement('div');
                controlText.style.color = 'rgb(255,25,25)';
                controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
                controlText.style.fontSize = '16px';
                controlText.style.lineHeight = '38px';
                controlText.style.paddingLeft = '5px';
                controlText.style.paddingRight = '5px';
                controlText.id = 'wayPointID';
                controlText.innerHTML = 'Add waypoint';
                controlUI.appendChild(controlText);


                controlUI.addEventListener('click', function () {

                    wayPointClickedBool = true;
                    wayPointTimer = setInterval(function() { myBlinker(controlText) }, 500);

                });
            }

            function SetWayPoint(controlDiv, map) {

                // Set CSS for the control border.
                var controlUI = document.createElement('div');
                controlUI.style.backgroundColor = '#fff';
                controlUI.style.border = '2px solid #fff';
                controlUI.style.borderRadius = '3px';
                controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
                controlUI.style.cursor = 'pointer';
                controlUI.style.marginBottom = '22px';
                controlUI.style.marginTop = '20px'
                controlUI.style.textAlign = 'center';
                controlUI.title = 'Add Hardcoded Marker';
                controlDiv.appendChild(controlUI);

                // Set CSS for the control interior.
                var controlText = document.createElement('div');
                controlText.style.color = 'rgb(25,25,200)';
                controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
                controlText.style.fontSize = '16px';
                controlText.style.lineHeight = '38px';
                controlText.style.paddingLeft = '5px';
                controlText.style.paddingRight = '5px';
                controlText.innerHTML = 'Update my location';
                controlUI.appendChild(controlText);


                controlUI.addEventListener('click', function () {
                    
                    markerPlaced = true;
                    window.external.GetCurrentGroupID();

                    myVar = setInterval(myTimer, 1000);
                   
                    
                });
            }


            function setStatus(status) {
                markerPlaced = status;
            }

            function GeoLocationNotSupported() {
                alert(
                    "Geolocation does not support, please enable your windows location: \n 1. Go to Start windows \n" +
                    " 2. then Settings  \n 3. then privat settings \n 4. Turn on lokation");
            }


            function myTimer() {
                if (markerPlaced) {
                    GeoLocationNotSupported();
                }
                clearInterval(myVar);
            }


            var blinkBool = false;
            function myBlinker(button) {

                if (blinkBool === false) {
                    button.style.fontSize = '18px';
                    blinkBool = true;
                } else {
                    button.style.fontSize = '16px';
                    blinkBool = false;

                }
                
             }


           

           


        </script>
        
  
    
        <body>

            <div id="mapDiv"></div>
            <!--<div id="coordsDiv"></div>-->

        </body>
</html>
